.model-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
  }
  
  .close-3d-button {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 20;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .close-3d-button:hover {
    transform: scale(1.2);
  }
  